.Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: pageLoad 1s;
    background: #2a292f;
    padding: 0 7%;

    .TextArea {
        flex: 1;
        margin-bottom: 40px;
        color:white;
        text-align: left;
    }

    .Journey {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;

        a {
            color: #bf8980;
            text-decoration: underline;
        }
    }

    .SkillChart {
        flex: 1;
        margin-bottom: 30px;
    }
}

@media screen and(min-width: 960px) {
    .Skills {
        flex-direction: row;
        padding: 0 5%;
        height: 100%;
        box-sizing: border-box;
        margin: auto;

        .SkillChart {
            flex: 1;
            margin-bottom: 0;
        }
    }
}

@keyframes pageLoad {
    from {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
