.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: pageLoad 1s;
    text-align:left;
    padding: 0 7%;
    background:#2a292f;
    margin: auto;

    .TextArea {
        padding-top: 15%;
        width: 80%; 
    } 

    .Journey {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        color:white;

        a {
            color: #bf8980;
            text-decoration: underline;
        }
    }

    .ImageArea {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: Sofia-Regular;
        color: #bf8980;
        font-size: 22px;
        text-align: right;

        img {
            height: 218px;
            width: 218px;
            margin: 25px auto;
        }

        .profilIcon {
            border-radius: 50%;
            border: 1px solid #e0e0e0;
            box-shadow:-0px 0px 18px 2px #8d8383   
        }

        .qrCodeMobile {
            height: 100px;
            width: 100px;
            animation: bounce 1.55s ease infinite alternate;
            padding-top: 0;

            @keyframes bounce{
                from {transform: translateY(18px);}
                to   {transform: translateY(8px);}
            }

            img {
                height: 130px;
                width: 130px; 
            }
          
        }
    }
}

@media screen and (min-width: 960px) {
    .About {
        flex-direction: row;
        align-items: start;
        padding: 30px;
        color: white;
        justify-content: space-around;

        .Journey {
            font-size: 15px;
            line-height: 20px;
        }
        .TextArea {
            width: 55%; 
            padding-top: 0;
        } 

        .ImageArea {
            align-items: center;
            display: flex;
            flex-direction: column;
            font-family: Sofia-Regular;
            color: #bf8980;
            font-size: 22px;
            text-align: right;

            img {
                height: 250px;
                width: 250px;
                margin: 25px auto;
            }

            .profilIcon {
                border-radius: 50%;
                border: 1px solid #e0e0e0;
                height: 240px;
                width: 240px;
                margin: auto;
                box-shadow:-0px 0px 18px 2px #8d8383   
            }

            .qrCodeMobile {
                padding-top: 100%;
            }
        }
    }
}

@keyframes pageLoad {
    from {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
