.header-color{
  background: transparent!important;
}

.min-height-container{
  background: transparent;
  min-height: calc(100vh - 58px);
  padding-top: 4em
}

.vcard-container {
  background-color: white;
}

.min-height-container-resume{
  background: white;
  min-height: calc(100vh - 58px);
}

.mdl-tabs__tab-bar{
  background:white
}

.min-height-container h1 {
  margin-top:0;
}

.mdl-grid{
  background: white;
  border-radius: 3px;
}

#landing-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.linkNavBar {
  position: relative;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s;
}

.landing-page {
  height: 14em;
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
  text-align: center;
  color:white;
}

.landing-page p {
  margin-bottom: 0!important;
  font-size: 1.6rem!important;
  padding: 5px!important;
  font-family: Raleway-ExtraLight;
}


.linkNavBar::before {
  content: '';
  display: block;
  position: absolute;
  top: 92%;
  right: 0%;
  height: 3px;
  width: 100%;
  background-color: #bf8980;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.linkNavBar:active::before {
  background-color: #bf8980;
}

.linkNavBar:hover::before,
.linkNavBar:focus::before {
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.navigation-bar {
  padding: .5rem 1rem; 
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Raleway-Regular;
  text-transform: uppercase;
}

.mdl-layout__drawer > .mdl-layout__title, .mdl-layout__drawer > .mdl-layout-title {
  border-bottom: 1px solid #906b7d;
  padding-left: 0!important
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: black!important;
  font-size:13px!important;
  font-family: Raleway-Regular;
  text-transform: uppercase;
}


.logo {
  width: 40px;
  margin-right: 15px;
}

.elisa-img{
  height: 60px;
  padding: 15px;
  border-radius:28px;
}

.cardContent{
  justify-content:center;
}
.cardContent h3 {
margin-bottom: 0!important
}

.menu-button {
font-family: Sofia-Regular;
font-size: 30px;
}

.projects-grid {
  display: flex;
}

.resume-right-col {
  color: black;
  padding: 2em;
  justify-content: center!important;
  display: flex!important;
  align-items: center!important;
}
.contact-body{
  padding-top: 2em 
}
.container-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 85%;
  /* height: 550px; */
  color: black;
  margin-bottom: 20px;
  background:none
}

.contact-grid h3 {
  font-family: PlayFair-Display;
  color:#a6736c;
}

.contact-grid p {
  font-family: Montserrat-Regular;
  font-weight: bold;
}

.contact-list i {
  font-size: 25px;
  padding-right: 5rem;
}

.mdl-list ul {
  display: flex!important;
  padding: 82px 0 0 0px!important;
}

.mdl-list__item {
  justify-content: center;
  padding:0
}

.mdl-list__item li {
  list-style: none;
  padding: 13px;
  font-size: 1.7em
}

.mdl-list__item li:hover {
  opacity: .7;
 }

.mdl-list__item li a {
  color:rgb(34, 32, 39)!important;
}
.avatar-img {
  height: 250px;
  padding-top: 5em;
}
.sub-title-resume {
  font-size:18px;
  font-family: Montserrat-Light
}
.text-resume {
  font-Family: Montserrat;
  padding:15px;
  max-width:500px
}
.banner-text {
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  color: black;
}

.banner-text p {
  color: black;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: black;
  font-size: 5em;
  padding: 8px;
}

.about-wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  z-index: 1;
}

.card {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px #e0e0e0;
  font-family: Montserrat;
  position: relative;
  margin: 0 auto;
}
.header-bg {
  height: 120px;
  background:#a0766f54;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: relative;
}
.info-container {
  padding: 55px 40px 0px 40px;
  background: white;
}
.info-container p.name {
  font-size: 30px;
  margin-top: 0;
}

.info-container p.info-resume {
  font-size: 14px;
  padding-right: 20px;
  padding-left: 20px;
  color: #bdbdbd;
  margin:0
}
.info-container p.name,
.info-container p.info-resume {
  text-align: center;
  text-transform: uppercase;
  font-family: raleway-regular;
  padding-top:10px;
}

.card-picture {
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  height: 140px;
  width: 140px;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: -2.5rem;
  right: 0;
  box-shadow:-0px 0px 18px 2px #8d8383
}

.center-resume {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}
.qrcode{
  animation: bounce 1.55s ease infinite alternate;
}
@keyframes bounce{
  from {transform: translateY(18px);}
  to   {transform: translateY(8px);}
}
@keyframes socialShareAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}


  .socialShareButton {
      height: 50px;
      line-height: 50px;
      padding: 0px 25px;
      background: #666;
      color: #fff;
      cursor: pointer;
  }
  i {
      font-size: 50px;
      color: #666;
      margin: 0px 10px;
  }

#feedback-form {
  margin: 0 auto;
  padding: 40px 50px 0px;
  font-family: sans-serif;
}

#feedback-form * {
    box-sizing: border-box;
}

#feedback-form h2{
  text-align: center;
  margin-bottom: 30px;
}

#feedback-form input {
  margin-bottom: 15px;
}

#feedback-form textarea {
  margin-bottom: 15px;
}

#feedback-form input[type=text] {
  display: block;
  height: 40px;
  padding: 6px 16px;
  width: 100%;
  border: none;
  border-radius:6px;
  background-color: #f3f3f3;
}

#feedback-form textarea[type=text] {
  display: block;
  height: 32px;
  padding: 6px 16px;
  width: 100%;
  border: none;
  border-radius:6px;
  background-color: #f3f3f3;
}

#feedback-form button[type=submit] {
  display: block;
  margin: 20px auto 0;
  width: 140px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: raleway-regular;
  font-size:12px;
  box-shadow: 1px 4px 10px 1px #fffefe;
  background: -moz-linear-gradient(to right, #6c5c5a 0%,#e0958b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(to right, #6c5c5a 0%,#e0958b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #6c5c5a 0%,#e0958b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.contact-name{
  display:flex;
}
.contact-lastname{
  width:100%;
  padding-left:10px;
}
.contact-firstname{
  width: 100%
}

.wrapper ul {
  display: flex;
  justify-content:center; 
  list-style: none;
  padding-inline-start: 0;
}

.wrapper ul li{
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 10px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid #fff;
	float: left;
	transition: all 0.5s ease;
}

.wrapper ul li .fa{
	color: rgb(191, 137, 128);
	transition: all 0.5s ease;
}

.wrapper ul li:hover:nth-child(1){
	border: 5px solid  #dd4b39;
	box-shadow: 0 0 15px  #dd4b39;
	transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover:nth-child(2){
	border: 5px solid  #00aced;
	box-shadow: 0 0 15px  #00aced;
	transition: all 0.5s ease;
}
/* instagram */
.wrapper ul li:hover:nth-child(3){
	border: 5px solid #4c4848;
	box-shadow: 0 0 15px #4c4848;
	transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover:nth-child(4){
  border: 5px solid  #3b5998;
	box-shadow: 0 0 15px  #3b5998;
	transition: all 0.5s ease;

}

.form-contact{
  background:white;
  padding:5px
}

.info-contact{
  background: #a0766f54;
  border-radius:20px;
  padding:5px
}