.header-color{
  background: transparent!important;
}

.title-landing {
  color: rgb(160, 118, 111);
  font-size:83px;
  font-family: PlayfairDisplay-Regular; 
  margin-bottom:0;
}

.mdl-tabs__tab-bar{
  background:white
}

#landing-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.linkNavBar {
  position: relative;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s;
  font-size:15px!important
}

.landing-page {
  height: 14em;
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
  text-align: center;
  color:white;
}

.landing-page p {
  margin-bottom: 0!important;
  font-size: 1.6rem!important;
  padding: 5px!important;
  font-family: Raleway-ExtraLight;
}


.linkNavBar::before {
  content: '';
  display: block;
  position: absolute;
  top: 92%;
  right: 0%;
  height: 3px;
  width: 100%;
  background-color: #bf8980;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.linkNavBar:active::before {
  background-color: #bf8980;
}

.linkNavBar:hover::before,
.linkNavBar:focus::before {
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.navigation-bar {
  padding: .5rem 1rem; 
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Raleway-Regular;
  text-transform: uppercase;
}

.mdl-layout__drawer > .mdl-layout__title, .mdl-layout__drawer > .mdl-layout-title {
  border-bottom: 1px solid #906b7d;
  padding-left: 0!important
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: black!important;
  font-size:13px!important;
  font-family: Raleway-Regular;
  text-transform: uppercase;
}

.mdl-layout.has-scrolling-header .mdl-layout__content {
  overflow: visible;
}

.logo {
  width: 40px;
  margin-right: 15px;
}

.elisa-img{
  height: 60px;
  padding: 15px;
  border-radius:28px;
}

.menu-button {
  font-family: Sofia-Regular;
  font-size: 30px;
  text-decoration: none; 
  color: white;
}

.card-picture {
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  height: 200px;
  width: 140px;
  margin: auto;
  box-shadow:-0px 0px 18px 2px #8d8383
}

#qrcode{
  animation: bounce 1.55s ease infinite alternate;
  padding-top: 75%
}

@keyframes bounce{
  from {transform: translateY(18px);}
  to   {transform: translateY(8px);}
}

.wrapper ul {
  display: flex;
  justify-content:center; 
  list-style: none;
  padding-inline-start: 0;
}

.wrapper ul li{
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 10px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid #fff;
	float: left;
	transition: all 0.5s ease;
}

.wrapper ul li .fa{
	color: rgb(191, 137, 128);
	transition: all 0.5s ease;
}

.wrapper ul li:hover:nth-child(1){
	border: 5px solid  #dd4b39;
	box-shadow: 0 0 15px  #dd4b39;
	transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover:nth-child(2){
	border: 5px solid  #00aced;
	box-shadow: 0 0 15px  #00aced;
	transition: all 0.5s ease;
}
/* instagram */
.wrapper ul li:hover:nth-child(3){
	border: 5px solid #4c4848;
	box-shadow: 0 0 15px #4c4848;
	transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover:nth-child(4){
  border: 5px solid  #3b5998;
	box-shadow: 0 0 15px  #3b5998;
	transition: all 0.5s ease;

}

@media screen and (min-width: 1025px) {
  .mdl-layout__drawer-button {
    line-height: 66px!important
  }
}
@media screen and (min-width: 1025px) {
.mdl-layout__drawer-button {
    line-height: 63px!important
}
}